.bg-dark-transaction {
  padding: 30px;
  color: #fff;
  background-color: #12002B; 
  min-height: 100vh;
  
  .transaction-header {
    text-align: center;
    margin-bottom: 30px;

    h1 {
      color: #fff;
      font-size: 30px;
      margin-bottom: 15px;
    }

    .account-balance {
      font-size: 45px;
      font-weight: bold;
      color: #fff;
    }

    .balance-type {
      font-size: 18px;
      color: #ccc;
    }
  }

  .transactions-list {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
  }
  
  .transaction-table-header {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    color: #000;
    font-weight: bold;
    
    > div {
      padding: 0 10px;
    }
  }
  
  .column-date {
    width: 15%;
  }
  
  .column-description {
    width: 40%;
  }
  
  .column-amount, .column-balance {
    width: 20%;
    text-align: right;
  }

  .transaction-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    
  

    &:last-child {
      border-bottom: none;
    }
  }

  .transaction-details {
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: #000;
    font-size: 16px;
    
    > div {
      padding: 0 10px;
    }
  }

  .transaction-edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
    font-size: 14px;
    padding: 15px 10px;

    label {
      margin-right: 10px;
      font-weight: bold;
    }
    
    .transaction-type {
      margin-bottom: 5px;
      span {
        font-weight: bold;
      }
    }
    
    .editable-field {
      position: relative;
      display: inline-flex;
      align-items: center;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 3px;
      min-width: 120px;
      background-color: #fff;
      
      .edit-icon {
        margin-left: 10px;
        color: #6b6b6b;
        cursor: pointer;
        font-size: 14px;
      }
    }

    select {
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 3px;
    }
  }

}