.sign-in-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin: auto;
    margin-top: 45rem;
    padding: 30rem;
    font-size: 15rem;
  }
  
    .bg-dark {
    background-color: #12002b;
    padding-bottom: 10%;
  }
  