// Features.scss

.features {
    display: flex;
    flex-direction: row;

  }
  
  .feature-item {
    flex: 1;
    padding: 37.5rem;
    text-align: center;
    user-select: none;

  }
  
  .feature-icon {
    width: 150px;
    height: 150px;
    border: 10px solid #00bc77;
    border-radius: 50%;
    padding: 15rem;
    margin: 0 auto;

  }
  
  .feature-item-title {
    color: #222;
    font-size: 18.75rem;
    font-weight: 600;
    margin-top: 15rem;
    margin-bottom: 7.5rem;
  }
  
  .feature-item-text {
    font-size: 15rem;
  }
  